body {
  width: 600px;
  margin: 0 auto;
  margin-top: 5%;
  padding-left: 5%;
  background-color: #8adaf0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(7, 89, 253);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


p {
  color: rgb(56, 59, 113);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding-left: 20px;
}

img {
  border-radius: 3%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #142f6d;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
  font-size: 20px;
  color: #ffffff;
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  border: none; 
  transition: background-color 0.3s, transform 0.2s; 
}

button:hover {
  background-color: #0b1d4b;
  transform: scale(1.05);
}